---

import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b h15vh ">
  <div class="mx-auto border-white/20 h-screen  max-w-7xl ">
    <div class="mx-auto">
    <video autoplay muted loop class="h-130 absolute inset-0 h-screen w-full object-cover z-0 pt-24 lg:pt-0  rounded-lg mx-auto" src="oc.m4v"></video>
    <div class=" p-4 lg:pt-56 lg:m-10 ">
    <br><br>
      <div class="p-4 pt-4 rounded-lg backdrop-blur-lg bg-black/30" >
         <h1 class=" p-4 rounded-lg w-4/5 text-white   uppercase text-3xl lg:text-5xl"> Explora un universo de posibilidades creativas donde la imaginación no tiene fronteras</h1>
          <!--p class="backdrop-blur-lg bg-black/30 p-2 rounded-lg w-4/5 text-white  mt-5 ">SINESTESIA es un laboratorio transdisciplinario de Experimentación, Improvisación y Nuevos Medios que conecta personas interesadas en las tecnociencias, el arte y la cultura digital. Nuestras colaboraciones se llevan a cabo en escenarios intervenidos digitalmente, donde se promueve el intercambio de conocimientos y la improvisación en artes escénicas, musicales y visuales, haciendo uso de tecnologías multimedia abiertas y de libre uso </p-->
        </div>
        
        </div>
        
      <!--canvas id="og" class=" bg-blue w-full rounded-lg mx-auto   md:px-8 md:py-12"></canvas-->
      
      
    
      
      <!--img class="w-full object-cover h-screen" src="bg.png"-->
      <br><br>
      
      
      <!--Testimonials -->
     
    </div>
  </div>  
  <!--<canvas id="og"></canvas>
  <script is:inline src="https://unpkg.com/hydra-synth"></script>
<script is:inline>
      
      var hydra = new Hydra({ canvas: document.getElementById("og"), detectAudio: false })
      osc(5,()=>time*100,2).modulate(noise(2)).add(shape(200,0.5,0.7).modulate(osc(4,0.4,0.93))).kaleid().kaleid(1.5).kaleid(2).scrollX().scrollY().scrollX().modulate(noise(4,()=>time/200,3)).colorama(()=>time/100).out(o1)
console.log('bbecito')
//.blend(o0)
//.blend(o0)
//.blend(o0)
//.blend(o0)
//.blend(o0)
//.pixelate(()=>a.fft[3]*20,20)
//.modulate(o0,0.05)

</script>--> 
</section>
