<section class="border-white/20 border">
  <div class="mx-auto border-white/20 max-w-7xl">
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white lg:text-2xl text-xl">
        En el ciclo de talleres <strong>'ALQUIMIA DIGITAL'</strong> te guiaremos en un viaje fascinante
        por el mundo del arte digital, donde descubrirás el potencial creativo de
        las herramientas abiertas, opensource y gratuitas
      </h1>
    </div>

    <div class="text-eagle lg:text-lg max-w-7xl p-8">
      <p>Estos talleres van dirigidos a:</p>
      <br />
      <ul class="list-disc">
        <li>
          <span class="text-lime-400">Artistas:</span> que buscan ampliar su paleta
          de herramientas y explorar nuevas formas de expresi&oacute;n.
        </li>
        <li>
          <span class="text-lime-400">Dise&ntilde;adorxs:</span> que quieren incorporar
          el arte digital en sus proyectos.
        </li>
        <li>
          <span class="text-lime-400">Estudiantes:</span> de arte, dise&ntilde;o,
          tecnolog&iacute;a o cualquier otra &aacute;rea que deseen adquirir nuevas
          habilidades creativas.
        </li>
        <li>
          <span class="text-lime-400">Emprendedorxs:</span> que buscan innovar en
          el &aacute;mbito del arte digital.
        </li>
        <li>
          <span class="text-lime-400">Entusiastas de la tecnolog&iacute;a:</span
          > que quieren aprender sobre las &uacute;ltimas tendencias en el mundo
          digital.
        </li>
        <br>
        <span class="text-lime-400">De cualquier parte de Iberoamérica y que sean mayores de 15 años</span>
      </ul>
      <br /><p>
        La metodología de los talleres incluye sesiones virtuales en vivo con
        unx instructorx expertx, seguidas de trabajo práctico directo usando las
        herramientas en cuestión.
      </p><br />
      <p>
        Cada taller ofrece un conjunto único de habilidades y conocimientos que
        pueden ser aplicados en una variedad de campos: modelos de Inteligencia
        Artificial, música algorítmica, visuales generativos y diseño 3D.
      </p><br />
      <p>
        Al finalizar cada taller, lxs participantes habrán adquirido habilidades
        valiosas que podrán aplicar en su carrera o en proyectos personales.
      </p>
    </div>
  </div>
</section>
