---
import Banner from "@/components/landing/Banner.astro";
/*import data from "../../content/data.json"
const projects = data.projects*/
---

<!--Banner/-->
<section id="talleres" class="border-b border-white/20 border bg-accent-500">
  <div class="mx-auto max-w-7xl border-x border-white/20 px-8 py-12">
    <div class="mx-auto">
      <h4 class="text-white uppercase">Ciclo de Talleres</h4>
      <h1 class="text-3xl text-white uppercase">
        Alquimia Digital: Introducción a las Herramientas Abiertas para el Arte
        Digital y Nuevos Medios
      </h1>
      <p class="pt-4 text-lime-400">
        Transformá tu ARTE y EXPERIMENTÁ con el poder de las herramientas
        digitales abiertas
      </p>
      <div class="pt-6 mx-auto text-white">
        <p>Nuestros talleres cubren los siguientes temas:</p>
        <br />
        <ul id="temas" class="list-none temas uppercase text-right">
          <span> <a href=""> Livecoding y Música Generativa </a></span> · <span>
            IA Aplicada al 3D, Sonido, Imagen Y Video</span
          >
          · <span> Visuales y Código Creativo</span> · <span>
            Modelado 3D Voxel</span
          > ·
          <span> Realidad Virtual Web </span> · <span> Realidad Aumentada</span>
          · <span> Y más por anunciar</span>
        </ul>
      </div>
    </div>
  </div>
</section>