---
import data from "../../content/data.json";
import Banner from "../../components/landing/Banner.astro"
/*import "../../styles/global.css";*/
---
<style>
.splide__pagination__page {
	background-color: #17ff00;
}
</style>

<section id="talleres" class="border-b border-white/20 border bg-accent-500">
  <div class="mx-auto max-w-7xl border-x border-white/20 px-8 py-12">
    <div class="mx-auto">
      <h4 class="text-white uppercase">Ciclo de Talleres</h4>
      <h1 class="text-3xl text-white uppercase">
        Alquimia Digital: Introducción a las Herramientas Abiertas para el Arte
        Digital y Nuevos Medios
      </h1>
      <p class="pt-4 text-lime-400">
        Transformá tu ARTE y EXPERIMENTÁ con el poder de las herramientas
        digitales abiertas
      </p>

      <div class="pt-6 mx-auto text-white">
        <p>Nuestros talleres cubren los siguientes temas:</p>
        <br />
        <ul id="temas" class="list-none temas uppercase ">
          <span> Livecoding y Música Generativa</span> · <span>
           <a href="talleres/fdprompt"> Prompt Engineering </a> </span> · <span>
           <a href="talleres/fd3d"> IA + 3D</a> </span> · <span><a href="talleres/fdaud"> IA + Sonido</a> </span> ·
 <span><a href="talleres/fdimg"> IA + Imagen</a> </span> ·  <span><a href="talleres/fdvid">IA + Video</a></span
          >
          · <span> Visuales y Código Creativo</span> · <span>
            Modelado 3D Voxel</span
          > ·
          <span> Realidad Virtual Web </span> · <span> Realidad Aumentada</span>
          · <span> <a href="talleres/dir360"> Dirección de Video 360°</a> </span> · <span> Y más por anunciar</span>
        </ul>
      </div>
      <div class="pt-12"></div>
            <Banner/>
    <div class="justify-content">
<section class="splide section">
      <div class="splide__track cursor-grab m-4">
        <div class="splide__list">
        {data.talleres.map((taller) => (
        <div class="splide__slide">
      <a href={`/talleres/${taller.id}`}><img class="group lg:w-1/2 w-full mx-auto" src={`https://ucarecdn.com/${taller.imgcover.id}/`}/>
  
      </a></div>
      ))}
        </div>
      </div>
    </section>
   


      
      </div>
    </div>
  </div>

</section>
 <script is:inline
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"
></script>
    <script is:inline>
    new Splide( '.splide',{
  type    : 'loop',
  autoplay: 'play',
  perPage : 1,
}  ).mount();
    </script>
