@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */

ol, ul {
list-style: disclosure-closed!important;
}
.gradient-grid  {
background-image: radial-gradient(circle at center center, transparent 0%,rgba(255,255,255, 0) 99%),repeating-linear-gradient(0deg, rgba(205,205,205, 0.2) 0px, rgba(205,205,205, 0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(205,205,205, 0.2) 0px, rgba(205,205,205, 0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgba(255,255,255, 0),rgba(255,255,255, 0));
}

.bg-bk {
  background:black;

}
/*.splide__pagination {
  visibility: hidden;
}*/

body {
  background:black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
	font-size:2rem;
}

.h-130 {
  height: 100vh;
  z-index:-1;
}

.h15vh {
  /*height: 150vh;*/
}

@media screen and (max-width: 480px) {
  /* Your styles for small phones here */
  .h-130 {
    height: 130vh!important;
    z-index:-1;
  }

  .temas {
    line-height: 30px!important;
    font-size: 6vw!important;
  }
}


ul#temas span:nth-child(even) {
  color:rgb(239 68 68); /* carrot */
}

ul#temas span:nth-child(odd) {
  color: rgb(132 204 22);
}

.temas {
    line-height: 50px;
    font-size: 3vw;
}

.temas span:hover {
  color:white!important;
  cursor:pointer;
}

.blur::after {
  content: "";
  position: absolute;
  /* Stretches the overlay to cover the entire container */
  background-color: rgba(255, 255, 255, 0.2); /* White color with 20% opacity */
  filter: blur(16px); /* Applies 16px blur effect (equivalent to backdrop-blur-lg) */
  z-index: 1; /* Positions the overlay on top of the image */
}

/* back to top */

#b2top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
 height: 40px;

}

.splide__pagination__page {
	background-color: #17ff00;
}




/*wasaps */

.floating {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 20px;
  background-color: limegreen;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
   z-index: 100;
 }
 
 .fab-icon {
  margin-top: 10px;
 }
