---
import BaseLayout from "@/layouts/BaseLayout.astro";
---


<BaseLayout>


          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/1.jpg"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/2.jpg?v=1689768423676"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/3.jpg"
              loading="lazy"
              width="100%"
            />
          </div>
        
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/6.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="text-white text-center p-8 ">
          <h1 class="text-4xl">Proyectos Realizados</h1>
          <br>
          <p class="text-2xl">Estos son algunos de nuestros proyectos:</p>
          </div>
          <section class="splide section">
      <div class="splide__track cursor-grab m-4">
        <div class="splide__list">
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/7.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/8.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/9.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/10.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/11.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/12.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/13.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/14.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="splide__slide">
            <a href="index.html#taller">            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/15.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            /></a>
          </div>
          
        </div>
      </div>
    </section>
    <script is:inline
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"
></script>
    <script is:inline>
    new Splide( '.splide',{
  type    : 'loop',
  autoplay: 'play',
  perPage : 1,
}  ).mount();
    </script>
</BaseLayout>

