<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase text-xl">
          <img src="https://sinestesialab.xyz/3.png" width="50px" class="mx-auto lg:m-0" />
        </p>
        <p class="mx-auto mt-3 text-sm">Costa Rica - 2024</p>
      </div>
    </div>
    <div class="mx-auto border-white/20 border-t flex flex-col p-8">
      <p
        class="items-center text-white text-center text-sm hover:text-lime-400"
      >
        <a class="flex" href="https://instagram.com/si.nestes.ia"
          ><img width="20px" src="https://sinestesialab.xyz/ig.png" /> si.nestes.ia</a
        >
      </p>
    </div>
  </div>
</footer>
